main {
    padding-top: 1rem;
}

.woocommerce-cart-form {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.shop_table {
    width: 100%;
}

.shop_table tr > * {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: start;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.woocommerce-cart-form__contents tr > * {
    padding-left: 1rem;
    padding-right: 1rem;
}

.cart_item td {
    border-top: 1px solid;
}

.shop_table tr .actions {
    display: none;
}

.cart_item .product-name a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart_item .product-name img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
}

.cart_item .quantity-wrapper {
    display: flex;
    gap: 1rem;
}

.cart_item .quantity .label {
    font-size: 1.375rem;
    line-height: 1.5rem;
}

.cart_item .quantity button {
    font-size: 1.375rem;
    line-height: 1.5rem;
    align-self: center;
}

.cart_item .quantity input {
    max-width: 75px;
    text-align: center;
}

.cart_item .quantity input {
    background-color: transparent;
    border-width: 1px;
    padding: 1rem;
    color: inherit;
    width: 100%;
    height: 60px;
    font-size: 1.375rem;
    line-height: 1.5rem;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cart_item .quantity input:focus {
    outline: none;
    border-color: #ff3c19;
}

.cart-collaterals {
    flex: 1;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 1.25rem;
    color: #000000;
}

.cart_totals h2 {
    display: none;
}

.cart_totals .shop_table tr > * {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.cart_totals .shop_table th {
    text-transform: uppercase;
}

.cart_totals .shop_table td {
    text-align: end;
}

.cart-collaterals .coupon {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 1.5rem  ;
}

.cart-collaterals .coupon .input-wrapper {
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    padding: 0.5rem;
}

.cart-collaterals .coupon input {
    flex: 1;
    padding: 0.5rem 1rem;
    color: inherit;
    background-color: transparent;
    font-size: 1.125rem;
    line-height: 1.75rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.cart-collaterals .coupon .button {
    color: white;
    background: hsl(9.13deg 100% 54.9%);
    padding: 0.5rem 0.95rem;
    border-radius: 8px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

.cart-collaterals .woocommerce-shipping-destination {
    display: none !important;
}

.wc-proceed-to-checkout {
    padding-top: 1.5rem;
    display: flex;
}

.cart_totals .checkout-button {
    width: 100%;
    background: hsl(9.13deg 100% 54.9%);
    padding: 1rem 1.25rem;
    border-radius: 8px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

@media (min-width: 1024px) {
    main {
        padding-top: 3rem;
    }

    .woocommerce-cart-form {
        flex-direction: row;
        gap: 6rem;
    }

    .woocommerce-cart-form__contents {
        width: 66.67%;
    }
}