main {
  padding-top: 1rem;
}

main .container {
  max-width: 1600px;
  width: 100%;
}

.woocommerce-message {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.woocommerce-notices-wrapper .woocommerce-error {
  padding-bottom: 1.5rem;
}

.woocommerce-cart-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.shop_table thead {
  display: none;
}

.shop_table tr > * {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  text-align: start;
}

.woocommerce-cart-form__contents tr > * {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.woocommerce-cart-form__cart-item {
  display: inline-table;
}

.woocommerce-cart-form__cart-item .product-name,
.woocommerce-cart-form__cart-item .product-price,
.woocommerce-cart-form__cart-item .product-quantity,
.woocommerce-cart-form__cart-item .product-subtotal {
  display: flex;
}

.cart_item .product-thumbnail .product-name {
  display: none;
}

.shop_table tr .actions {
  display: none;
}

.cart_item .product-thumbnail a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart_item .product-thumbnail img {
  width: 150px;
  border-radius: 4px;
}

.cart_item .quantity-wrapper {
  display: flex;
  gap: 0.75rem;
}

.cart_item .quantity button {
  font-size: 1.375rem;
  line-height: 1.5rem;
  align-self: center;
}

.cart_item .quantity input {
  max-width: 75px;
  height: 40px;
}

.cart-collaterals {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  flex: 1 0 0;
  border-radius: 16px;
  padding: 1.25rem;
  background-color: #ffffff;
  color: #000000;
}

.cart_totals h2 {
  display: none;
}

.cart_totals .shop_table th {
  text-transform: uppercase;
}

.cart_totals .shop_table td {
  text-align: end;
}

.cart-collaterals .coupon .input-wrapper {
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  height: 60px;
}

.cart-collaterals .coupon input {
  font-size: 1.125rem;
  line-height: 1.75rem;
  border: none;
}

.cart-collaterals .coupon .button[type="submit"] {
  background-color: transparent;
  color: hsl(9.13deg 100% 54.9%);
}

.cart-collaterals .coupon .button[type="submit"]:hover {
  background-color: transparent;
  color: hsl(9.13deg 100% 54.9%);
}

.coupon-error-notice {
  padding-top: 0.25rem;
}

.cart-collaterals .woocommerce-shipping-destination {
  display: none !important;
}

.wc-proceed-to-checkout {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

main:has(.wc-empty-cart-message) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wc-empty-cart-message {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.return-to-shop {
  text-align: center;
  padding-top: 1rem;
}

@media (min-width: 1024px) {
  main {
    padding-top: 3rem;
  }

  .woocommerce-cart-form {
    flex-direction: row;
    gap: 5vw;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .woocommerce-cart-form__contents {
    width: 66.67%;
  }

  .shop_table thead {
    display: table-header-group;
  }

  .woocommerce-cart-form__cart-item {
    display: table-row;
  }

  .woocommerce-cart-form__cart-item .product-name,
  .woocommerce-cart-form__cart-item .product-price,
  .woocommerce-cart-form__cart-item .product-quantity,
  .woocommerce-cart-form__cart-item .product-subtotal {
    display: table-cell;
  }

  .shop_table th.product-thumbnail,
  .shop_table td.product-name {
    display: none;
  }

  .cart_item td {
    border-top: 1px solid;
  }

  .cart_item .product-thumbnail img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .cart_item .quantity-wrapper {
    gap: 1rem;
  }

  .cart_item .quantity input {
    height: 60px;
  }
}
