main .woocommerce {
    padding-top: 1rem;
}

main .container {
    max-width: 1600px;
    width: 100%;
}

.woocommerce {
    height: 100%;
}

.woocommerce-NoticeGroup-checkout {
    display: none;
}

.woocommerce-form-coupon,
.woocommerce-form-coupon-toggle,
.woocommerce-message[role="alert"] {
    display: none !important;
}

form.woocommerce-checkout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

form.woocommerce-checkout > * {
    flex: 1 0 0;
    width: 100%;
}

.col2-set,
.woocommerce-shipping-fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.woocommerce-billing-fields,
.order-review-wrapper,
.woocommerce-order-details,
.woocommerce-customer-details {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.woocommerce-billing-fields h3,
.order-review h3,
h2.woocommerce-order-details__title,
h2.woocommerce-column__title {
    font-size: 2.125rem;
    line-height: 2.3125rem;
    font-weight: 700;
}

.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.form-row-first {
    grid-column-start: 1;
}

.form-row-last {
    grid-column-start: 2;
}

.form-row-wide {
    grid-column-start: span 2;
}

.col2-set .form-row label {
    display: block;
    padding-bottom: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.form-row input {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.checkout-inline-error-message {
    padding-top: 0.25rem;
    color: hsl(var(--primary));
}

.woocommerce-additional-fields h3 {
    display: none;
}

.order-review-wrapper,
.woocommerce-order-details,
.woocommerce-customer-details {
    padding: 2rem;
    border-radius: 16px;
    background-color: var(--card);
    color: var(--card-foreground);
}

.order-review-wrapper a,
.woocommerce-order-details a,
.woocommerce-customer-details a,
#terms-modal .modal-content a {
    color: var(--card-foreground);
}

.woocommerce-checkout-review-order-table tr > *,
.woocommerce-table--order-details tr > * {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    text-align: start;
}

.woocommerce-checkout-review-order-table tbody tr:first-child > *, 
.woocommerce-order-details tbody tr:first-child > * {
    padding-top: 0;
}

.woocommerce-checkout-review-order-table th {
    text-transform: uppercase;
}

.woocommerce-checkout-review-order-table td:not(.product-name):not(.coupon-form),
.woocommerce-table--order-details td:not(.product-name) {
    text-align: end;
}

.order-review thead,
.order_details thead {
    display: none;
}

.order_details tbody .product-name {
    width: 60%;
}

.product-name .product-thumbnail-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.product-name .product-name-wrapper {
    display: flex;
    flex-direction: column;
}

.product-name img {
    min-width: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 4px;
}

.coupon-form .input-wrapper {
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    height: 60px;
}

.coupon-form input {
    border: none;
}

.coupon-form .button[type="button"] {
    background-color: transparent;
}

.coupon-form .button[type="button"]:hover {
    background-color: transparent;
    color: hsl(var(--primary));
}

.woocommerce-checkout-payment {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    padding-top: 1.5rem;
}

.place-order {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.woocommerce-terms-and-conditions-wrapper .form-row {
    padding-top: 0.625rem;
}

abbr {
    text-decoration: none;
}

.woocommerce-terms-and-conditions {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.woocommerce-terms-and-conditions-checkbox-text a {
    text-decoration: underline;
}

/* Terms Modal */
#terms-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#terms-modal.active {
    display: flex;
}

#terms-modal .modal-box {
    position: relative;
    width: 90%;
    max-width: 860px;
}

#terms-modal .modal-content {
    background-color: var(--card);
    color: var(--card-foreground);
    max-height: 80vh;
    border-radius: 16px;
    overflow: hidden;
    padding-right: 1rem;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#terms-modal .modal-content-inner {
    overflow-y: auto;
    height: calc(100% - 2rem);
    padding-right: 2rem;
    padding-left: 3rem;
}

#terms-modal .modal-content-inner::-webkit-scrollbar {
  width: 6px;
  height: 90%;
}

#terms-modal .modal-content-inner::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

#terms-modal .modal-content-inner::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

#terms-modal .modal-content-inner::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

#terms-modal .modal-content p {
    line-height: 1.5;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#terms-modal .modal-content p a {
    text-decoration: underline;
}

#terms-modal .modal-content p a:hover {
    color: hsl(var(--primary));
}

#terms-modal .close-modal {
    position: absolute;
    top: 12px;
    left: 12px;
    border: none;
    width: 36px;
    height: 36px;
    font-size: 30px;
    color: var(--card-foreground);
}

.cart-errors-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
}

.cart-errors-wrapper p {
    text-align: center;
    max-width: 500px;
    text-wrap-style: pretty;
}

/* Thank you View */
main .woocommerce-order {
    display: grid;
    align-items: flex-start;
    gap: 3rem;
    max-width: 1200px;
}

.thankyou-images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thankyou-images .desktop {
    display: none;
    width: 800px;
}

.woocommerce-thankyou-order-received {
    margin-top: -1.5rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    color: hsl(var(--primary));
}

.woocommerce-thankyou-order-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}

.woocommerce-thankyou-order-details > * {
    flex: 1 0 0;
    text-align: center;
}

.woocommerce-customer-details {
    margin-top: -1.75rem;
}

.woocommerce-customer-details address {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.woocommerce-customer-details address .order-address-line {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1024px) {
    .main .woocommerce {
        padding-top: 3rem;
    }

    form.woocommerce-checkout {
        flex-direction: row;
        gap: 5vw;
    }

    .woocommerce-billing-fields h3,
    .order-review h3,
    h2.woocommerce-order-details__title,
    h2.woocommerce-column__title {
        font-size: 3.75rem;
        line-height: 3.375rem;
    }

    .woocommerce-billing-fields,
    .order-review-wrapper,
    .woocommerce-order-details,
    .woocommerce-customer-details {
        gap: 2rem;
    }
    
    .order-review {
        height: 100%;
        position: sticky;
        top: 64px;
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
    }

    .woocommerce-checkout-review-order-table tr > *,
    .woocommerce-table--order-details tr > *,
    address {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    main .woocommerce-order {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 4rem;
    }

    main .woocommerce-order > * {
        grid-column-start: span 2;
    }

    .woocommerce-thankyou-order-received {
        margin-top: -2rem;
    }

    .thankyou-images .desktop {
        display: block;
    }

    .thankyou-images .mobile {
        display: none;
    }

    .woocommerce-thankyou-order-details {
        flex-direction: row;
        gap: 2rem;
        font-size: 1.375rem;
        line-height: 1.5rem;
    }

    .woocommerce-thankyou-order-details li {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    main .woocommerce-order .woocommerce-order-details {
        grid-column-start: 1;
    }

    main .woocommerce-order .woocommerce-customer-details {
        grid-column-start: 2;
        margin-top: 0;
    }
}