@import url("./product-loop.css");

main {
  padding-top: 1rem;
}

div.product {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  padding-bottom: 2rem;
}

div.product .summary,
div.product .product-thumbnails-wrapper {
  flex: 1 0 0;
}

div.product .product-thumbnails-wrapper {
  position: relative;
}

div.product .product-thumbnails-wrapper img {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  height: auto;
  border-radius: 16px;
}

div.product .summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

div.product .product_title {
  font-size: 2.125rem;
  line-height: 2.3125rem;
  font-weight: 700;
}

div.product .price {
  font-size: 1.375rem;
  line-height: 1.5rem; 
  font-weight: 500;
}

div.product .description {
  max-width: 700px;
  line-height: 1.2;
}

.woocommerce-product-gallery__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

form.cart,
form.cart .variations {
  width: 100%;
}

form.cart {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

form.cart .variations th {
  font-weight: inherit;
}

form.cart .variations .label {
  display: block;
  padding: 0;
  text-align: inherit;
}

.variations select,
form.cart .quantity input {
  font-size: 1.375rem;
  line-height: 1.5rem;
}

.variations select {
  max-width: 150px;
}

form.cart .variations .value {
  display: block;
  margin-top: 0.5rem;
}

.woocommerce-variation {
  display: none !important;
}

.woocommerce-variation-add-to-cart {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

form.cart .quantity {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form.cart .quantity-wrapper {
  display: flex;
  gap: 1rem;
}

form.cart .quantity button {
  font-size: 1.375rem;
  line-height: 1.5rem;
  align-self: center;
}

form.cart .quantity input {
  max-width: 75px;
}

.single_add_to_cart_button.disabled,
.single_add_to_cart_button:disabled {
  cursor: not-allowed;
  opacity: 0.25;
}

.added_to_cart {
  display: none;
}

.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top-width: 1px;
  border-bottom-width: 1px;
}

@media (min-width: 1024px) {
  main {
    padding-top: 3rem;
  }

  div.product {
    flex-direction: row;
    gap: 12rem;
    padding-bottom: 6rem;
  }

  div.product .summary {
    gap: 2rem;
    height: 100%;
    position: sticky;
    top: 64px;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }

  .woocommerce-product-gallery__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
  }

  div.product .product_title {
    font-size: 3.75rem;
    line-height: 3.375rem;
  }

  div.product .price {
    font-size: 1.75rem;
    line-height: 1;
  }

  div.product .description {
    font-size: 1.375rem;
    line-height: 1.5rem;
  }

  form.cart {
    gap: 2rem;
  }
  
  form.cart .variations .label,
  form.cart .quantity .label {
    font-size: 1.375rem;
    line-height: 1.5rem;
  }

  .variations select {
    max-width: 300px;
  }

  .single_add_to_cart_button {
    max-width: 300px;
  }

  .woocommerce-variation-add-to-cart {
    gap: 2rem;
  }

  .related {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .related ul.products {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
