ul.products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

li.product {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.woocommerce-LoopProduct-link {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
}

li.product .featured-image {
  position: relative;
  height: 100%;
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: hsl(var(--primary));
    color: hsl(var(--background));
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
}

.sold-out {
    background-color: #d1d1d1;
    color: #000000;
}

li.product.outofstock .badge.onsale {
    display: none;
}

.featured-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    transition: opacity 0.5s ease-in-out;
}

.featured-image .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
}

.featured-image:hover .hover-image {
    opacity: 1;
}

.featured-image:hover > img:not(.hover-image) {
    opacity: 0;
}

li.product .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.product.sale .price {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
}

.product.sale .price del {
  opacity: 0.25;
}

.product.sale .price ins {
  text-decoration: none;
}

@media (min-width: 1024px) {
    ul.products {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 2.25rem;
    }

    .woocommerce-LoopProduct-link {
        gap: 0.75rem;
    }

    li.product .woocommerce-loop-product__title,
    li.product .price {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}